<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleProj3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CA0CD841C5A0E4B0004CEB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA0CD981C5A0E4C0004CEB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA0CDA31C5A0E4C0004CEB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
